*{
    margin:0px;
    padding:0px;
    font-family: Bahnschrift;
}
#thoughts{
    font-weight: 200;
    cursor: pointer;
    margin: auto;
}
.Main-Container{
    margin-left: 240px;
}
.indiv-Container{
    width: 500px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(214, 212, 212);
}